.image-upload > input {
  display: none;
}

.image-upload .imgUpload {
  width: 70px;
  transition: all 0.15s ease-in-out;
  cursor: pointer !important;
}

.imgUpload:hover {
  transform: scale(1.07);
}
.imgUpload:active {
  transform: scale(1);
}

.animate__animated.animate__fadeInUp {
  animation-duration: 0.2s;
}
